/* inizio header */
.intestazione{
    width: 80%;
    margin: auto;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgb(40, 108, 255);
    background-size: 20%;   
}

#logo{
    width: 20%;
}
/* / header */

/* inizio main */

/* inizio sezione titolo */
.titolo{
    width: 80%;
    margin: auto;
}

#copyright{
    color: grey;
}

#booleaner{
    color: rgb(44, 109, 250);
}
/* / sezione titolo */

/* inizio sezione foto */
.foto{
    width: 80%;
    margin: auto;
    font-size: 80%;
}
/* / sezione foto */

/* inizio sezione contenuto */
.contenuto{
    width: 80%;
    margin: auto;
}

#testoevidenziato{
    background-color: yellow;
}
/* / sezione contenuto */

/* inizio sezione tabella */
.tabella{
    width: 80%;
    margin: auto;
}

thead{
    background-color: rgb(44, 109, 250);
    color: white;
}

#corpotabella{
    background-color: rgb(107, 152, 248);
}
/* / sezione tabella */

/* inizio seconda sezione foto */
#interesse{
    width: 80%;
    margin: auto;
    color: grey;
}

.fotodinteresse{
    height: 80%;
    width: 80%;
    margin: auto; 
    background-image: url(../img/monitor.jpg); 
}

.fotodinteresse2{
    width: 80%;
    height: 80%;
    margin: auto;
    
}


/* / seconda sezione foto */

/* / main */

/* inizio footer */
/* / footer */