/* inizio header */
.intestazione{
    width: 80%;
    margin: auto;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: rgb(40, 108, 255);
    background-size: 20%;   
}

#logo{
    width: 20%;
}
/* / header */

/* inizio main */

/* inizio sezione titolo */
.titolo{
    width: 80%;
    margin: auto;
}

#copyright{
    color: grey;
}

#booleaner{
    color: rgb(44, 109, 250);
}
/* / sezione titolo */

/* inizio sezione foto */
.foto{
    width: 80%;
    margin: auto;
    font-size: 80%;
}
/* / sezione foto */

/* inizio sezione contenuto */
.contenuto{
    width: 80%;
    margin: auto;
}

#testoevidenziato{
    background-color: yellow;
}
/* / sezione contenuto */

/* / main */

/* inizio footer */
/* / footer */